/* Google Font Import - Poformins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    width: 18.75rem;
    height: 100%;
    background: rgb(0, 33, 71);
    /* margin-top: -2rem; */
}

.sidebar header {
    color: white;
    line-height: 5rem;
    text-align: center;
    background: rgb(0, 33, 71);
    user-select: none;
    font-size: 2.5rem;
}

.sidebar ul a {
    display: flex;
    height: 100%;
    width: 100%;
    line-height: 4.75rem;
    font-size: 1.25rem;
    color: white;
    padding-left: 2.5rem;
    box-sizing: border-box;
    border-bottom: .08rem solid rgb(255, 255, 255);
    border-top: .08rem solid rgba(255, 255, 255, .1);
    transition: .4s;
}

ul li:hover a {
    padding-left: 3rem;
    color: rgb(0, 0, 0);
}

.admin_valid{
    display: flex;
    flex-direction: column;
    /* background-image: url(/Images/todd-kent-178j8tJrNlc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: rgb(0, 33,91);
    height: auto;
    min-height: 47rem;

    padding-left: 2rem;
    padding-top: 2rem;
    margin-left: 18rem;
}
.search_result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(todd-kent-178j8tJrNlc-unsplash.jpg);
    background-size: cover;
    background-repeat: fix, no-repeat; */
    /* background-color: rgb(0, 136, 169, 1); */
    height: auto;
}

.container{
    position: relative;
    max-width: 70em;
    width: 100%;
    background: #fff;
    border-radius: 1.25rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .form{
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title{
    color: white;
    display: flex;  
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 2rem;
}


.results
{
    padding-left: 15rem;
}

p{
    padding-bottom: 1rem;
}

.results .currency
{
    font-weight: bold;
    padding-right: 1rem;
}

.results .amount
{
    font-weight: bold;
    font-size: 2rem;
}

.results .location
{
    font-size: 1.6rem;
}

.results .apartment
{
    font-size: 1.4rem;
}


.results .amenities
{
    color: brown;
    font-size: 1.2rem;
}

.results .beds-baths
{
    font-size: 1.2rem;
    padding-right: 1.3rem;
}


.results .area
{
    font-size: 1.2rem;
    padding-right: 1rem;
}
.link
{
    text-decoration: none;
}


label
{
    color: black;
}

img{
    position: relative;
    width: 17rem;
    height: 17rem;
}


.delete-user
{
    padding: 1.2rem;
    max-width: 10rem;
    background: rgb(0,136,169,1);
    border-radius: 1.25rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.btn
{
    text-align: center;
    color: white;
}

.box
{
    position: relative;
    margin-top: 2rem;
    padding-left: 22rem;
}