/* Google Font Import - Poformins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #e5f1f7;
    text-decoration: none;
}
.lbutton{
    opacity: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #081642;
}

.home form .btn:hover{
    background-color: rgb(3, 113, 140);
}

.site_name{
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
}


.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088A9;
}

button{
    padding: 9px 25px;
    background-color: rgb(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgb(0, 136, 169, 0.8);
}

.search_result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(todd-kent-178j8tJrNlc-unsplash.jpg);
    background-size: cover;
    background-repeat: fix, no-repeat; */
    /* background-color: rgb(0, 136, 169, 1); */
    height: auto;
}

.container{
    position: relative;
    max-width: 80rem;
    width: 100%;
    background: #fff;
    border-radius: 1.25rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* this is needed to be copied */
.container .form{
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title{
    color: white;
    display: flex;  
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 2rem;
}


.results
{
    padding-left: 15rem;
}

p{
    padding-bottom: 1rem;
}

.results .currency
{
    font-weight: bold;
    padding-right: 1rem;
}

.results .amount
{
    font-weight: bold;
    font-size: 2rem;
}

.results .location
{
    font-size: 1.6rem;
}

.results .apartment
{
    font-size: 1.4rem;
}


.results .amenities
{
    color: brown;
    font-size: 1.2rem;
}

.results .beds-baths
{
    font-size: 1.2rem;
    padding-right: 1.3rem;
}


.results .area
{
    font-size: 1.2rem;
    padding-right: 1rem;
}
.link
{
    text-decoration: none;
}


label
{
    color: black;
}

img{
    position: relative;
    width: 17rem;
    height: 17rem;
}
body{
    background-color: rgb(0, 33,91);

} 