@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #e5f1f7;
    text-decoration: none;
}

.background_image{
    background-image: url(./todd-kent-178j8tJrNlc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: .6;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #081642;
}



.home{
    min-height: 100vh;
    background:url(./todd-kent-178j8tJrNlc-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home form{
    background: rgb(0 0 5 / 50%);
    border-radius: 4rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    border: 0.1rem solid rgba(0,0,0,.2);
    width: 50rem;
    padding: 2rem;
    height: 27rem;
}

.home form h3{
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 3rem;
}

.home form .buttons-container{
    display: flex;
    gap:1.5rem;
}

.home form .buttons-container .btn{
    flex:1;
}

.home form .inputBox{
    display: flex;
    flex-wrap: wrap;
    gap:.5rem;
    margin-top: .5rem;
    border-radius: 2px;
}

.home form .inputBox input,
.home form .inputBox select{
    flex:1 1 20rem;
    border:.1rem solid #333;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    font-size: 1.25rem;
    padding: 0.6rem;
    text-transform: none;
    border-radius: 1rem;
}

.home form .btn{
    width: 100%;
    margin-top: 0rem;
    display: inline-block;
    padding: 0.8rem 3.5rem;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    color: #e5f1f7;
    background: rgb(0, 136, 169, 1);
    cursor: pointer;
    text-align: center;
}


.home form .btn:hover{
    background-color: rgb(3, 113, 140);
}

.site_name{
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088A9;
}

button{
    padding: 9px 25px;
    background-color: rgb(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgb(0, 136, 169, 0.8);
}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #081642;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #e5f1f7;
    text-decoration: none;
}

 .background_image{
    background-image: url(./pexels-binyamin-mellish-186077.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
} 

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.site_name{
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088A9;
}

button{
    padding: 9px 25px;
    background-color: rgb(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgb(0, 136, 169, 0.8);
}
 */
