/* Google Font Import - Poformins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #e5f1f7;
    text-decoration: none;
}
.lbutton{
    opacity: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    width: 18.75rem;
    height: 100%;
    background: rgb(3, 113, 140);
    /* margin-top: -2rem; */
}

.sidebar header {
    color: white;
    line-height: 5rem;
    text-align: center;
    background: rgb(3, 113, 140);
    user-select: none;
    font-size: 2.5rem;
}

.sidebar ul a {
    display: flex;
    height: 100%;
    width: 100%;
    line-height: 4.75rem;
    font-size: 1.25rem;
    color: white;
    padding-left: 2.5rem;
    box-sizing: border-box;
    border-bottom: .08rem solid rgb(255, 255, 255);
    border-top: .08rem solid rgba(255, 255, 255, .1);
    transition: .4s;
}

ul li:hover a {
    padding-left: 3rem;
    color: rgb(0, 0, 0);
}

.show-properties{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(Abstract_minimalistic_white_1920x1200.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 136, 169, 1);
    min-height: 45rem;
    height: auto;
    margin-left: 300px
}

.title{
    color: black;
    display: flex;  
    justify-content: center;
    position: relative;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 2rem;

    margin-top: 1rem;
}

.container{
    position: relative;
    max-width: 80rem;
    width: 69%;
    background: #fff;
    border-radius: 1.25rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    margin-bottom: 1rem;
}

.container .form{
    padding: 3rem;
    display: flex;  
    align-items: center;
}

img{
    position: relative;
    width: 17rem;
    height: 17rem;
}

.results
{
    padding-left: 2rem;
}


p{
    padding-bottom: 1rem;
}

.results .currency
{
    font-weight: bold;
    padding-right: 1rem;
}

.results .amount
{
    font-weight: bold;
    font-size: 2rem;
}

.results .location
{
    font-size: 1.6rem;
}

.results .apartment
{
    font-size: 1.4rem;
}


.results .amenities
{
    color: brown;
    font-size: 1.2rem;
}

.results .beds-baths
{
    font-size: 1.2rem;
    padding-right: 1.3rem;
}


.results .area
{
    font-size: 1.2rem;
    padding-right: 1rem;
}

.link
{
    text-decoration: none;
}


label
{
    color: black;
}