/* Google Font Import - Poformins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    width: 18.75rem;
    height: 100%;
    background: rgb(0,33,71);
    /* margin-top: -2rem; */
}

.sidebar header {
    color: white;
    line-height: 5rem;
    text-align: center;
    background: rgb(0,33,71);
    user-select: none;
    font-size: 2.5rem;
}

.sidebar ul a {
    display: flex;
    height: 100%;
    width: 100%;
    line-height: 4.75rem;
    font-size: 1.25rem;
    color: white;
    padding-left: 2.5rem;
    box-sizing: border-box;
    border-bottom: .08rem solid rgb(255, 255, 255);
    border-top: .08rem solid rgba(255, 255, 255, .1);
    transition: .4s;
}

ul li:hover a {
    padding-left: 3rem;
    color: rgb(0, 0, 0);
}

.user_validation{
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(/Images/todd-kent-178j8tJrNlc-unsplash.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0,33,71);
    min-height: 30vh;
    height: auto;
    /* margin-top: 2rem; */
}

.user_validation .title{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;  
    justify-content: center;
    position: relative;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 2rem;
}

.user_validation .container{
    position: relative;
    max-width: 80rem;
    width: 100%;
    background: #fff;
    border-radius: 1.25rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;

    min-height: 45rem;
}

.user_validation .container .form{
    padding: 2rem;
}

.user_validation .block
{
    display: flex;  
}

#info-show
{
    padding-top: 1rem;
    width: 58%;
}

.user_validation .left-container{
    position: relative;
    min-width: 30rem;
    width: 90%;
    background: beige;
    border-radius: 1.25rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    min-height: 35rem;

    margin-bottom: 4rem;
    margin-left: 1rem;
    padding-top: 1rem;
}

#right-side
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user_validation .right-container{
    position: relative;
    min-width: 18rem;
    width: 100%;
    background: beige;
    border-radius: 1.25rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;

    padding: 0.65rem;
    min-height: 10rem;
}

#user-information
{
    font-weight: 800;
    font-size: 2rem;
}

p{
    padding-bottom: 1rem;
}

label
{
    color: black;
}

.user_validation .information
{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

.user_validation .information .line
{
    font-size: 1.2rem;
}


/* Buttons */
.user_validation .btn {
    width: 100%;
    
    display:inline;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: whitesmoke;
    background: rgb(0, 136, 169, 1);
    cursor: pointer;
    text-align: center;

    margin-top: 1rem;
    margin-left: 0rem;
}


.user_validation .btn:hover {
    background-color: rgb(3, 113, 140);
}

.buttons
{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
}