/* Google Font Import - Poformins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    width: 18.75rem;
    height: 100%;
    background: rgb(3, 113, 140);
    /* margin-top: -2rem; */
}

.sidebar header {
    color: white;
    line-height: 5rem;
    text-align: center;
    background: rgb(3, 113, 140);
    user-select: none;
    font-size: 2.5rem;
}

.sidebar ul a {
    display: flex;
    height: 100%;
    width: 100%;
    line-height: 4.75rem;
    font-size: 1.25rem;
    color: white;
    padding-left: 2.5rem;
    box-sizing: border-box;
    border-bottom: .08rem solid rgb(255, 255, 255);
    border-top: .08rem solid rgba(255, 255, 255, .1);
    transition: .4s;
}

ul li:hover a {
    padding-left: 3rem;
    color: rgb(0, 0, 0);
}


li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #e5f1f7;
    text-decoration: none;
}
.lbutton{
    opacity: 0;
}



.home form .btn:hover{
    background-color: rgb(3, 113, 140);
}


.show-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(Abstract_minimalistic_white_1920x1200.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-color: rgb(0, 136, 169, 1);
    min-height: 48rem;
    height: auto;
    margin-left: 300px;
}

.title{
    color: black;
    display: flex;  
    justify-content: center;
    position: relative;
    font-size: 3.8rem;
    font-weight: 600;

    padding-bottom: 1rem;
    margin-top: 1rem;
}

.container{
    position: relative;
    max-width: 60rem;
    width: 100%;
    background: #fff;
    border-radius: 1.25rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: auto;
    min-height: 32rem;


    margin-bottom: 1rem;
}

.container .form{
    padding: 3rem;
    display: flex;  
}



.results
{
    padding-left: 2rem;
}


p{
    padding-bottom: 1rem;
}

.results .left-options
{
    font-size: 2rem;
    font-weight:400;
    padding-right: 1rem;
}


.results .right-options
{
    font-size: 2rem;
    font-weight: bold;
    padding-right: 1rem;
}

.results .colon
{
    font-weight: bold;
}


label
{
    color: black;
}



#name
{
    padding-left: 11.2rem;
    margin-right: 1rem;
}

#e-mail
{
    padding-left: 10.75rem;
    margin-right: 1rem;

}

#phone-no
{
    padding-left: 8rem;
    margin-right: 1rem;
}

#nid
{
    padding-left: 14rem;
    margin-right: 1rem;

}

#address
{
    padding-left: 9.2rem;

    margin-right: 1rem;

}


/* Buttons */

.btn {
    width: 25%;

    display: inline;
    padding: 0.8rem 3.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: whitesmoke;
    background: rgb(0, 136, 169, 1);
    cursor: pointer;
    text-align: center;

    margin-left: 0rem;
}


.btn:hover {
    background-color: rgb(3, 113, 140);
}

.buttons
{
    display: flex;
    align-items:center;
    justify-content: center;
}